.input-group {
  display: flexbox;
}
.weather-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
  background-color: blue;
  color: white;
}

.my-container {
  display: flex;
  width: 25%;
}
.navbar {
  display: flex;
  flex-direction: column;
}

.instructional-message,
h1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.container-block {
  display: flex;
  justify-content: center;
  gap: 30px;
  /* flex-wrap: wrap; */
}
.country-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-style: solid;
  background-color: #0081c9;
  border-radius: 5px;
  color: white;
  width: 25%;

  /* font-size: px; */
}
.country-img {
  padding: 10px;
}
.dates {
  display: flex;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  justify-content: flex-start;
}

.city-country-temps {
  text-align: center;
  font-size: 10px;
  padding: 5px;
}

.dates {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.wind-speed {
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
}

.humidity {
  font-size: 10px;
  display: flex;
  justify-content: center;
  padding: 5px;
}
