.input-group {
  display: flexbox;
}
.weather-title {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
  background-color: blue;
  color: white;
}

.my-container {
  display: flex;
  width: 25%;
}
.navbar {
  display: flex;
  flex-direction: column;
}

.instructional-message,
h1 {
  display: flex;
  justify-content: center;
  font-size: 20px;
}
